body {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-style: italic;
    font-optical-sizing: auto;
    font-family: 'Lato', sans-serif;
}
.name {
    color: #1b4269;
    font-size: 50px;
    font-style: normal;
    font-weight: 800;

}
.logo {
    color: salmon;
}
.btn-primary {
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid salmon;
    color: whitesmoke;
    font-weight: 700;
    font-size: 20px;
    padding: 15px 40px;


}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px;
    
   
}
nav>ul {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    
}
nav li {
    list-style: none;
    margin-right: 50px;
}
nav a {
    text-decoration: none;
    color: salmon;

}
nav a:hover {
    color: #474747;
}
.list {
    /* display: flex; */
    justify-content: space-between;
}
.header {
    background-color: black;
    background-image:url('images/WhatsApp\ Image\ 2024-05-08\ at\ 3.26.14\ PM.jpeg'),url("images/developer.png");
    background-repeat: no-repeat;
    background-position:bottom right,  top left;
    opacity: 0.74;
}
.banner {
    padding: 50px 40px 0px 160px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.banner-title {
    font-size: 40px;
    color: #474747;
    margin-bottom: 0px;
    margin-left: -85px;
}
.banner-title1 {
    font-size: 85px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 20px;
    color:  salmon;
    margin-left: -99px;
}
.banner-description {
    font-size: 20px;
    font-weight: 300;
    color: gray;
    margin-top: 3px;
    margin-bottom: 7%;
    margin-left: -99px ;
}
.btn-primary2 {
    background-color: transparent;
     border-radius: 5px;
     color: white;
     font-weight: 700;
     font-size: 20px;
     padding: 15px 40px;
     border: 1.5px solid  salmon;
}
.btn-primary1 {
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid salmon;
    color:  whitesmoke;
    font-weight: 700;
    font-size: 20px;
    padding: 15px 40px;
    margin-left: -99px;
    margin-bottom: 10px;

}
.btn-primary:hover {
   background-color: salmon;
   
    cursor: pointer;
}
.btn-primary1:hover {
    background-color: salmon;
}
.btn-primary2:hover {
    background-color: salmon;
    color: #1b4269;
}
.banner-content {
    max-width: 500px;
}
.banner-img {
    width: 500px;
    margin-bottom: -70px;
    margin-right: -300px;

  
}
 /* Styles for desktop */
@media (min-width: 1024px) {
    header {
        font-size: 24px;
    }
}
   /* Styles for laptops */
@media (max-width: 1023px) and (min-width: 768px) {
    header {
        font-size: 20px;
    }
}
      

        /* Tablet */
        @media (min-width: 992px) and (max-width: 1199px) {
            header {
                font-size: 22px;
            }
        }

        /* Desktop */
        @media (min-width: 1200px) {
            header {
                font-size: 24px;
            }
        }
       
        /* Mobile-S */
        @media (max-width: 374px) {
            header {
                font-size: 16px;
            }
        }

        /* Mobile-M */
        @media (min-width: 375px) and (max-width: 424px) {
            header {
                font-size: 18px;
            }
        }

        /* Mobile-L */
        @media (min-width: 425px) and (max-width: 767px) {
            header {
                font-size: 20px;
            }
        }

        /* Tablet */
        @media (min-width: 768px) and (max-width: 1439px) {
            header {
                font-size: 22px;
            }
        }

        /* Laptop */
        @media (min-width: 1440px) {
            header {
                font-size: 24px;
            }
        }

.about {
    padding: 130px;
    background-color: #fff8f3;
    border-radius: 10px;
    border: 0;
    margin: 130px 0;
    margin-top: 130px;
    margin-left: 90px;
    margin-right: 90px;
    margin-bottom: 70px;
}
.section-title {
    color: #283848;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    padding-top: -70px;
}
.section-description {
    color: #757575;
    text-align: center;
    font-size: 10px;
    font-weight: 800;
}
main {
    max-width: 1140px;
    margin: 0 auto;
}
.about-info-container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    text-align: center;
}
.about-info {
    text-align: center;
    justify-content: space-evenly;
}
.info-title{
    font-size: medium;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
#I-do {
    padding: 30px 140px;
}

.skills-container {
    display: flex;
    justify-content: space-around;
    padding-top: 5px ;
    padding-right: 2%;
    padding-bottom: 30px;
}

.skill {
    border: 2px solid white;
    box-shadow: 10px 10px 5px whitesmoke;
    gap: 25px;
    margin-right: 2px;
    padding-left: 5px;
    padding-right: 1.2px;

}
main section {
    margin-top: 130px;
}
.skill-description {
    color: darkolivegreen;
}















